SKIP_PREFLIGHT_CHECK=true
VITE_APP_BASE_NODE_ENV=dev
VITE_APP_ENABLE_REDUX_DEVTOOLS=true
VITE_APP_BASE_URL=http://localhost:8000/api
VITE_BOOT_API_KEY=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