.folder-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: enter 0.5s ease-in-out;
  margin-top: 2rem;
  margin: 0 auto;
  &__image {
    width: 100px;
    aspect-ratio: 1;
    z-index: 2;
    @media screen and (max-width: 1000px) {
      width: 10rem;
    }
  }

  &__title {
    color: white;
    font-size: 13px;
    margin-top: 10px;
    text-transform: capitalize;
    @media screen and (max-width: 1000px) {
      font-size: 1rem;
    }
  }
}

@keyframes enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
